<section class = "row" data-ng-controller="HomeController">
	<img src="http://www.areacom.com/cs/Satellite?blobcol=urlimagefile&blobheader=image%2Fpng&blobheadername1=Content-Disposition&blobheadervalue1=inline%3B+filename%3Darea-communications-header.png&blobkey=id&blobtable=UXImage&blobwhere=1332140363168&ssbinary=true&moddate=2014-04-24%2005:26:46" alt="..." class="img-responsive center-block" />
	<h4 class = "col-md-12 text-center"> </h4>
	<div class = "col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
		<form data-ng-submit = "signin()" class = "signin form-horizontal" autocomplete = "off">
			<fieldset>
				<div data-ng-show = "error" class = "text-center text-danger">
					<strong data-ng bind = "error"> </strong>
				</div>
				<div class = "form-group">
					<div class = "input-group input-group-lg">
					<span class = "input-group-addon">
						<i class = "text-muted glyphicon glyphicon-user"></i>
					</span>
						<input type = "text" id = "username" name = "username" class = "form-control" data-ng-model="credentials.username" placeholder="Username">
					</div>
				</div>
				<div class = "form-group">
					<div class = "input-group input-group-lg">
					<span class = "input-group-addon">
						<i class = "text-muted glyphicon glyphicon-asterisk"></i>
					</span>
						<input type = "password" id = "password" name = "password" class = "form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>
				</div>
				<div class = "text-center form-group">
					<button type = "submit" class = "btn btn-danger btn-lg btn-block" id = "btnSubmit">Sign in </button>
				</div>
				<div class="forgot-password">
					<a href="/#!/password/forgot" style="color:black" >Forgot your password?</a>
				</div>
			</fieldset>
		</form>
	</div>
</section>
